@model IList<string>
@{
    ViewData["Title"] = "UserRoleDetails";
}

<h1>@ViewData["Title"]</h1>

<h5>UserName: @ViewBag.UserName</h5>
@if (Model.Any())
{
<ul>
    @foreach (var role in Model)
    {
        <li>@role</li>
    }
    
    </ul>
}
else
{
    <h5 style="color:red;">Sorry! @ViewBag.UserName has not been assigned any roles.</h5>
}


